body {
	background-color: gainsboro;
	font-family: "Open Sans", sans-serif;
	font-size: 1.5rem;
	text-align: center;
}

#title-text {
	font-size: 3rem;
	padding-bottom: 3vh;
	text-decoration: underline;
}

hr {
	border-style: solid;
	border-radius: 10px;
	width: 50vw;
	margin: 0 25vw;
	color: whitesmoke;
	border-width: 10px;
	border-bottom: 0;
}

.short {
	width: 20vw;
	margin: 0 38.5vw;
	color: beige;
}

@media screen and (max-width: 800px) {
	hr {
		margin: 0 20vw;
	}

	.short {
		margin: 0 35vw;
	}
}

p a {
	color: black;
	text-decoration: underline;
}
